Repository oemof/oemof-solph, pull requests merged in 2018-12, with the labels that each got.

#509 Add operation cost independent from output to NONCONVEX_FLOW
  oemof/solph/blocks.py
  oemof/solph/options.py
Labels: enhancement

#546 Features/activity costs
  oemof/solph/blocks.py
  oemof/solph/options.py
  tests/constraint_tests.py
  tests/lp_files/activity_costs.lp
Labels: enhancement, oemof-solph

#534 Features/solph system emissions
  oemof/outputlib/views.py
  oemof/solph/constraints.py
  oemof/solph/network.py
  tests/constraint_tests.py
  tests/test_processing.py
Labels: API, enhancement, oemof-solph

#537 Remove old name "param_results" which was kept to keep the API for a while
  oemof/outputlib/processing.py
  tests/test_outputlib/test_views.py
  tests/test_processing.py
Labels: API
