Repository oemof/oemof-solph, pull requests merged in 2018-03, with the labels that each got.

#449 Features/update contraints to new pyomo api
  oemof/graph.py
  oemof/solph/blocks.py
  oemof/solph/components.py
  tests/test_scripts/test_solph/test_storage_investment/test_storage_investment.py
Labels: bug

#446 Features/add min max runtimes
  doc/whatsnew/v0-2-1.rst
  oemof/solph/blocks.py
  oemof/solph/components.py
  oemof/solph/options.py
  tests/constraint_tests.py
  tests/lp_files/min_max_runtime.lp
Labels: enhancement, oemof-solph

#437 change attribut group to dictionary
  oemof/solph/network.py
Labels: enhancement, oemof-solph

#453 Add console test and clean installation test
  oemof/tools/console_scripts.py
  setup.py
  tests/basic_tests.py
  tests/constraint_tests.py
  tests/regression_tests.py
  tests/solph_tests.py
  tests/test_components.py
  tests/test_console_scripts.py
  tests/test_network_classes.py
  tests/test_processing.py
  tests/test_scripts/test_solph/test_connect_invest/test_connect_invest.py
  tests/test_scripts/test_solph/test_flexible_modelling/test_add_constraints.py
  tests/test_scripts/test_solph/test_generic_caes/test_generic_caes.py
  tests/test_scripts/test_solph/test_generic_chp/test_generic_chp.py
  tests/test_scripts/test_solph/test_generic_offsettransformer/test_generic_offsettransformer.py
  tests/test_scripts/test_solph/test_simple_dispatch/test_simple_dispatch.py
  tests/test_scripts/test_solph/test_storage_investment/test_storage_investment.py
  tests/test_scripts/test_solph/test_variable_chp/test_variable_chp.py
  tests/test_solph_network_classes.py
  tests/tool_tests.py
Labels: enhancement

#462 Add option for multiindex dataframe on view
  oemof/outputlib/views.py
Labels: enhancement, feedback wanted, oemof-solph

#465 limit version of required packages to the most actual version
  setup.py
Labels: enhancement
